/* Pagrindinės */
.calculator {
  width: 400px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.input {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: right;
  font-size: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* Stilizacija kairėje panele su skaičiais */
.leftPanel {
  display: flex;
  flex-direction: column;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.numbers div {
  flex: 1;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

/* Stilizacija dešinėje panele su "=" mygtuku */
.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

.equal {
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

.equal:hover {
  background-color: #ccc;
}
